* {
  user-select: none;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-color: rgb(241, 223, 221);
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.in_canvas {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.picture {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.modal_menu {
  position: absolute;
  right: 0.5em;
  top: 0;
  width: 3em;
  height: 3em;
}

.title {
  font-size: 5rem;
  font-family: "Press Start 2P", cursive;
  color: rgb(48, 40, 53);
  text-shadow: 4px 4px 4px #aaa;
  animation-name: slideon;
  animation-duration: 1s;
}




@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 280px) {
  .title {
    font-size: 2rem;
  }
}

:root {
  --width: 36px;
}

.wrapper {
  z-index: 11;
  animation-name: slideright;
  animation-duration: 1s;
  position: absolute;
  left: 25px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-button {
  position: absolute;
  left: 0;
  top:0;
  width: var(--width);
  height: var(--width);
  display: flex;
  /* flex되어있기 때문에 다 가려진 것이3다 처음에  */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: aqua; */
}

.hamburger-menu,
.hamburger-menu::after {
  height: calc(0.125 * var(--width));
  border-radius: calc(0.15 * var(--width));
  background-color: rgb(48, 40, 53);
  transition: all 0.25s ease-in-out;
  /* all은 모든 속성에 대해 transition을 적용한다는 것이다.  */
}

.hamburger-menu {
  width: calc(0.75 * var(--width));
  transform: translateY(calc(-0.125 * var(--width)));
}

.hamburger-menu::after {
  position: absolute;
  width: calc(0.375 * var(--width));
  transform: translateY(calc(0.25 * var(--width)));
  content: "";
  /* content는 필수임 */
}

.open {
  transform: translateY(0px) rotate(45deg);
  /* open에도 transition이 적용된다. */
  background-color: white
}

.open::after {
  width: calc(0.75 * var(--width));
  transform: translateY(0px) rotate(90deg);
  background-color: white
}

.navigator{
  height:100%;
  z-index: 1;
  
 width: 100%;
}

.none{
  display:none
}
.menu_item{
  height: 100px;
  width: 100%;
  max-width: 30rem;
  
  margin: 0;
  display: flex; 
  text-align: center;
  align-items: center;
  flex-direction: center;
  width: 100%;
  transition: ease-in;

}

.menu_item a{
  width: 100%;
  color: white;
  font-size: 4rem;
}

.menu_item:hover{
  border-bottom: 2px solid rgba(0, 0, 255, .2);
}

.overlay {
  background-color: rgba(0,0,0,0.3);
  /* 모두 채워지지 않으면 vh로 바꾸기  */
  width:100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
}


/* animation 모음 */

@keyframes slideright{
  from {
    transform: translateX(-60px);
    /* opacity: 0 */
  }

  to {
    transform : translateX(0);
    /* opacity: 1; */
  }
}

@keyframes slideon {
  from {
    transform: translateY(60px);
    opacity: 0
  }

  to {
    transform : translateY(0);
    opacity: 1;
  }}
@keyframes appear {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }}

  .slideright{
    animation-name: slideright;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: both
  }
