* {
  //user-select: none;
  outline: 0;
  margin: 0;
  //padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: white;
}
::-moz-selection {
  background: var(--wave-blue);
  color: #fff;
}
::selection {
  background: var(--wave-blue);
  color: #fff;
}
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

li {
  //list-style: none;
}
html {
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

:root {
  --width: 36px;
  --text_color: black;
  --background_color: #F5F6F9;
  --wave-yellow : rgb(254, 166, 30);
  --wave-red:rgba(255, 95, 95,0.4);
  --wave-pink:rgba(216, 79, 147,0.4);
  --wave-purple: rgba(94, 79, 144,0.4);
  --wave-blue: rgba(0, 13, 56, 0.78);
  --content-gray:#EFF1F5;
}
/* rgb(235, 231, 236); */
.wrapper {
  z-index: 10;
  animation-name: slideright;
  animation-duration: 1s;
  position: fixed;
  left: 25px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-button {
  width: var(--width);
  height: var(--width);
  display: flex;
  /* flex되어있기 때문에 다 가려진 것이3다 처음에  */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: aqua; */
}

.hamburger-menu,
.hamburger-menu::after {
  height: calc(0.125 * var(--width));
  border-radius: calc(0.15 * var(--width));
  background-color: rgb(48, 40, 53);
  transition: all 0.25s ease-in-out;
  /* all은 모든 속성에 대해 transition을 적용한다는 것이다.  */
}

.hamburger-menu {
  width: calc(0.75 * var(--width));
  transform: translateY(calc(-0.125 * var(--width)));
}

.hamburger-menu::after {
  position: fixed;
  width: calc(0.375 * var(--width));
  transform: translateY(calc(0.25 * var(--width)));
  content: "";
  /* content는 필수임 */
}

.open {
  height: 2px;
  background-color: var(--text_color);
  transform: translateY(0px) rotate(45deg);
  /* open에도 transition이 적용된다. */
  /* background-color: white; */
}

.open::after {
  height: 2px;
  background-color: var(--text_color);
  width: calc(0.75 * var(--width));
  transform: translateY(0px) rotate(90deg);
  /* background-color: white; */
}

.navigator {
  overflow-y: auto;
  height: 100vh;
  user-select: none;
  background-color: var(--background_color);
  max-width: 25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 10px;
  box-shadow: 12, var(--text_color);
}


.nav_item {
  padding: 0;
  margin-top: 30px;
  transition: ease-in;
}

.nav {
  /* margin-left: 100px; */
  padding: 0;
  padding-top: 100px;
  font-size: 3rem;
  justify-content: center;

}

.nav_item a {
  width: 100%;
  font-weight: 800;
}

.nav_item:hover {
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  /* 모두 채워지지 않으면 vh로 바꾸기  */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav_item a {
  color: var(--text_color);
}

.text_slide {
  animation-name: slideright;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.nav_item :after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.05em;
  width: 0px;
  border-top: 1px solid var(--text_color);
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.nav_item :hover:after {
  opacity: 1;
  width: 100%;
}

@for $i from 2 through 6 {

  .main_nav .nav_item:nth-child(#{$i}) {
    animation-delay: ($i - 1) * 0.03 + s;
  }
}
.main_nav{
  padding: 0;
}

.sub_nav {
  margin-top: 50px;
  font-size: 2rem;
  padding: 0;
  padding-top: 50px;
  position: relative;
}
.sub_nav .nav_item {
  animation-name: slideright;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.nav_item {
  font-family: "Pretendard", sans-serif;
  display: table;
}

.nav_item :hover {
  cursor: pointer;
  animation: opacity_change 0.3s;
  animation-fill-mode: both;
}

.sub_nav::after {
  animation-name: slideright;
  animation-duration: 0.3s;
  animation-delay: 0.12s;

  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  background-color: rgb(199, 198, 198);
  height: 1px;
  content: "";
}

/* animation 모음 */

@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideleft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px);
  }
}

@keyframes slideon {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes color_change {
  from {
    color: pink;
  }
  to {
    color: #000000;
  }
}

@keyframes opacity_change {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}


.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  //background-color: rgba(255, 255, 255, 0.7);
  background-color: var(--wave-blue)

  /* absoulte상태에서 left, top , 등을 주지 않았기 때문에 아무것도 보이지 않고 무에서 시작해야하기 때문에 scale(0) 에서 시작해야한다.  */
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.slideright {
  animation-name: slideright;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

.slideleft {
  animation-name: slideleft;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.appear {
  animation-name: appear;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
/* display none  */
.none {
  display: none;
}

.content-wrraper{
  max-width: 1100px;
  width:100%;
  margin:auto;
  font-size: 1.3rem;
  line-height: 1.8;
  font-family: "pretendard";
  padding: 8em 0 2em 0;
  position: relative;
  animation-name: slideon;
  animation-duration: 0.4s;

}

.content-wrraper img{
  display: block;
  margin: 0px auto;
  max-width: 70%;
  border-radius: 6px;
  margin-bottom: 0.3em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.content-wrraper p{
  margin-bottom: 1.2em;
}
.content-wrraper ul{
  margin-bottom: 1.2em;
}

.content-wrraper h3{

  border-left: var(--wave-blue) solid 4px;
  padding-left: 16px ;
  margin-bottom: 1em;
  margin-top: 2em;
  height: auto;
  overflow:hidden;
  line-height: 1.2;
}
//처음 높이를 맞추기 위해서 처음 margin에 top 0을 준다.
.content-wrraper h2:nth-child(1){
  margin-top: 0;
}
.content-wrraper h2{
  border-left: var(--wave-blue) solid 4px;
  padding-left: 16px ;
  margin-bottom: 1em;
  margin-top:2em;
  height: auto;
  overflow:hidden;
  line-height: 1.1;
}

.content-wrraper h1{
  font-size: 2rem;
  border-left: var(--wave-blue) solid 4px;
  padding-left: 16px ;
  margin-bottom: 1em;
  height: auto;
  overflow:hidden;
  line-height: 1.1;
}

.content-wrraper strong{
  color:var(--wave-yellow)
}
.page-info{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color:var(--content-gray);
  width: 100%;
  height: 200px;
  flex-direction: column;

}
.title-date-wrapper{
  max-width: 1100px;
  width: 100%;
  position: relative;
  animation-name: slideon;
  animation-duration: 0.4s;
}

.post-date {
  position: absolute;
  right: 10px;
  top:100px;
  color: #666;
  max-width: 1100px;
  font-size: 1rem;
}

.post-title{
  margin-bottom: 1rem;
  font-size: 2rem;
}

.blog-article{
  width: 100%;
  //max-width:  686px;
  max-width:  1100px;

}
.blog-article li{
  margin-top: 16px;
}
.blog-article a{
  position: relative;
  transition:0.3s ease-in-out;
  padding:0 3px 0 3px;
}

.blog-article a::after{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(254, 166, 70);
  height: 15%;
  content: "";
  transition: 0.3s ease-in-out;
  z-index: -1;
}
.blog-article a:hover{
  text-decoration: none;
  color: white;
}
.blog-article a:hover::after{
  height: 100%;
}

.flex-aside{
display: flex;

}

.space{
  flex-basis: 250px;
  //background-color: #cb4b16;
  flex-shrink: 2;

}
//table of content
.toc-wrapper{
  flex-basis: 250px;
  max-width: 250px;
flex-shrink: 2;
}
.toc {
  color: #999;
  transition: 0.3s;
}
.toc ul{
  padding-top: 0.25em;
}

.toc li{
  transition: 0.3s ease-in-out;
  padding-bottom: 0.25em;
}

.toc li::marker{
  content: "";
  display: none;
}
.toc li:hover{
  color:black;
  cursor:pointer;
}
.active{
  color: #cb4b16;
}
.content-toc-container{
  display: flex;
  width: 100%;
}

.toc{
  list-style-type: none;
  padding: 0;
  animation-name: slideon;
  animation-duration: 0.5s;
  display: none;
  padding: 1em;
  padding-right: 3em;
  margin-top: 4em;
  border-left: 1px #e5e5e5 solid;
  //background-color: #008FD5;
  position: sticky;
  top:100px;
  //
}
 .toc-h2{
  font-size: 1rem;
   margin-top: 0.5em;
}

 .toc-h3{
   font-size: 0.9rem;
   margin-top: 0.3em;
 }

//블로그 글 목록 그리드
.article-list-info{
  padding-bottom: 1em;
  max-width: 1100px;
  width: 100%;
  margin:0 auto 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.article-list-info-title{
  font-size: 3.5rem;
  padding-left: 3rem;

}
.article-list-grid-item-preview{
  color:#999;
  margin-top: 1em;
  transition:0.2s;
  max-height: 260px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
.article-list-quantity{
  padding-right: 1em;
  color: #999;
}

.readmore {
  margin-top: 1.5em;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.2s;
  //transition: 1s;
}

.readmore::after{
  content:"->";
  right: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
}


.article-list-container{
  background-color: var(--content-gray);
  min-height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 5em;

}


.article-list{
  //overflow: auto;
  max-width: 1100px;
  margin:0 auto 0 auto;
  width: 100%;
}
.link{
  width: 100%;
  display: block;
  height: 100%;


}
.link:hover{
  cursor:pointer;
}
.article-list-grid {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  /* Put a card in the next row when previous cards take all width */
}

.article-list-grid-item {
  transition: 0.2s;
  min-height: 200px;
  background-color: white;
  border-radius: 8px;
  /* There will be 4 cards per row */
  flex-basis: 40%;
  padding: 2rem;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.article-list-title{
  transition: 0.2s;
}

.image-caption {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #999;}



.link:hover .article-list-title{
  color: var(--wave-blue)

}
.link:hover .article-list-grid-item-preview{
  color: black;
}
.link:hover .readmore{
  color: var(--wave-blue)

}
.readmore:hover::after{
  opacity: 1;
  color: var(--wave-blue) ;
}
.link:hover .readmore::after{
  opacity: 1;
  color: var(--wave-blue)

}
.col-flex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.link:hover .article-list-grid-item{
  background-color: rgba(0, 0, 0, 0.07);
}

.title-author{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
}

.more-post{
  margin-top: 5em;
  font-size: 1.3rem;
  border-bottom : 1px solid #d7d7d7;
}
@media (min-width: 1584px){

  .toc {
   display: flex;
    flex-direction: column;
 }

  .blog-article{
    //padding-right: 5em;
  }

}

@media (max-width: 540px){
  .image-caption{
    font-size: 0.7rem;
  }
  .page-info{
    height: 150px;
  }
  .toc-wrapper, .space{
    display: none;
  }
  .content-wrraper{
    padding: 3em  0;
    font-size: 1rem;
  }

  .title-author{
    flex-direction: column;
    align-items: center;
    word-wrap: normal

  }
  .content-wrraper img{
    max-width: 100%;

  }

  .content-wrraper{
    padding-left: 2em;
    padding-right: 2em;
  }

.wrapper{
  position: absolute;
}

  .author{
        width: 100%;
        text-align: right;
  }

  .post-date{
    display: none;
  }
  .post-title{
    font-size: 1.5rem;
    text-align: left;
  }

  .nav_item{
    font-size: 2rem;
  }

  .article-list-grid{
    grid-template-columns: 1fr
  }

  .article-list-info{
    flex-direction: column;
    align-items: stretch;
  }

  .article-list-quantity{
    text-align: right;
    padding-right: 2em;

  }
}

@media (max-width: 1100px){
  .article-list{
      padding: 0 2em 0 2em;
  }
}
.relative{
  position: relative;
}
.flex{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
}


.author a:link{
  color:#999;
}
.author{
  right: -25%;
  bottom:0;
  color: #999;
  padding-left: 1rem;
}
.author a:visited { color: #999; text-decoration: none;}