<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kyo.Dev</title>
    <link rel="stylesheet" href="/assets/css/wave.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    {% feed_meta %}
    {% seo %}
</head>

<body>
    <div class="picture">
        <canvas> </canvas>
        <div class="in_canvas">
            <h1 class="title">KYO.DEV</h1>
        </div>
        {% include navigation.html %}
    </div>
    <script type="module" src="app.js"></script>
    <script src="modal.js"></script>
    <!-- <audio preload="auto" autoplay
        src="https://api.soundcloud.com/tracks/129373865/stream?client_id=cmSmzlorE2Sydh0SPDX285qwjVf9bQxJ"></audio> -->
</body>

</html>